
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý thiết bị </title>
    <link href="~/Content/bootstrap-5.0.2-dist/css/MyCss.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
    </script>


</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">

            <img src="~/Content/Image/Logo.jpg" style="width: 100px;height: 100px;">
            <p class="m-auto text-center text-primary text-lg-start" style="font-weight: bold;font-size: 30px;color: rgb(12, 11, 40);">QUẢN LÝ THIẾT BỊ TRƯỜNG THPT BÙI THỊ XUÂN</p>
            <div class="user-info" id="userDropdown">

                <img src="~/Content/Image/user.png" alt="Biểu tượng người dùng" id="userIcon">

                @{
                    if (Session["TenNV"] != null)
                    {
                        <span class="username">@Session["TenNV"]</span>
                    }
                    else if (Session["TenGV"] != null)
                    {
                        <span class="username">@Session["TenGV"]</span>
                    }
                }
               

                <div class="dropdown-content" id="dropdownContent">
                    <a href="/DangNhap/ChangePass">Đổi mật khẩu</a>
                    <a href="/DangNhap/Logout">Đăng xuất</a>

                @if (Session["TenGV"] != null)
                {
                    <span class="username">@Session["TenGV"]</span>
                }
                else
                {
                    <span class="username">@Session["TenNV"]</span>
                }
                <div class="dropdown-content" id="dropdownContent">
                    <a href="#">Đổi mật khẩu</a>
                    <a href="@Url.Action("Logout","DangNhap")">Đăng xuất</a>

                </div>


            </div>
        </div>

    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="menu">
                    <ul class="w-100 p-lg-0">
                        <li class="dropdown">
                            <a href="#"><img style="width: 40px;height: 40px; filter: grayscale(100%);margin-right: 2px;" src="~/Content/Image/bar-chart.png">Tổng quan</a>
                            <ul class="submenu">
                                <li><a href="#">Mục con 1</a></li>
                                <li><a href="#">Mục con 2</a></li>
                                <li><a href="#">Mục con 3</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("DS_ThietBi","Kiemke")"><img style="width: 40px;height: 40px; filter: grayscale(100%);margin-right: 2px;" src="~/Content/Image/measuring-device.png">Thiết bị</a></li>
                        <li><a href="#"><img style="width: 40px;height: 40px; filter: grayscale(100%);margin-right: 2px;" src="~/Content/Image/shopping-cart.png">Mua sắm</a></li>
                        <li><a href="#"><img style="width: 40px;height: 40px; filter: grayscale(100%);margin-right: 2px;" src="~/Content/Image/pie-chart.png">Thống kê</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 m-lg-0">
                @RenderBody()
            </div>

        </div>


    </div>
    
    <footer style="width:100%;height: 200px; background-color: rgb(12, 11, 40)">
        <div class="container p-5">
            <ul class="list-group text-center">
                <li class="">
                    <p class="text-light">Thư điện tử: c3buithixuan.tphcm@moet.edu.vn</p>
                </li>
                <li class="">
                    <p class="text-light">Địa chỉ: Số 73 đường Bùi Thị Xuân, phường Phạm Ngũ Lão, quận 1, thành phố Hồ Chí Minh</p>
                </li>
            </ul>

        </div>

    </footer>

    <script src="~/Content/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("userDropdown").addEventListener("click", function () {
            var dropdownContent = document.getElementById("dropdownContent");


            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    </script>
  
</body>
</html>
