@model PagedList.IPagedList<QL_ThietBi.Models.CTPHIEUHH>
@using PagedList.Mvc;
@{
    ViewBag.Title = "CT_DSHuHong";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<div class="container">
    <div class="row">
        <div class="menu">
            <ul class="w-100 p-lg-0 list-inline mb-0">
                <li class="list-inline-item mb-0">
                    <a href="@Url.Action("DS_ThietBi","Kiemke")">Danh sách thiết bị</a>
                </li>
                <li class="list-inline-item mb-0" style="border-bottom:3px solid green;background-color:white"><a href="@Url.Action("KiemKe","Kiemke")">Kiểm kê</a></li>
                <li class="list-inline-item mb-0"><a href="#">Thanh lý</a></li>

            </ul>
        </div>
    </div>
    <div class="row m-3 text-center">
        <h4 class="text-primary">DANH SÁCH THIẾT BỊ HƯ HỎNG</h4>
       
    </div>
    <div class="row m-3" >
        <div class="col-10">
            <p><strong>Mã phiếu:</strong>@ViewBag.Ma</p>

        </div>
      <div class="col-2">
          <button type="submit" class="btn btn-primary w-100">Thêm</button>
      </div>
          
        
       
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã phiếu</th>
                    <th>Tên thiết bị</th>
                    <th>Số lượng</th>
                    <th>Ghi Chú</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ID_PHIEUGNHH
                        </td>
                        <td>
                            @item.THIETBI.TENTB
                        </td>
                        <td>
                            <input type="number" id="adjustableNumber" value="@item.SOLUONG" min="0" max="100" >
                           
                        </td>
                        <td>@item.GHICHU</td>
                        <td class="iconcrud"><a href="@Url.Action("","")"><img src="~/Content/Image/updated.png" /></a><a href="@Url.Action("","")"><img src="~/Content/Image/trash.png" /></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount



<div class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        var pageLink = new { page = i };
        <a href="@Url.Action("KiemKe", pageLink)" class="page-link @(i == Model.PageNumber ? "active" : "")">
            @i
        </a>
    }
</div>
