@model PagedList.IPagedList<QL_ThietBi.Models.PHIEUGHINHANHUHONG>
@using PagedList.Mvc;
@{
    ViewBag.Title = "KiemKe";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<div class="container">
    <div class="row">
        <div class="menu">
            <ul class="w-100 p-lg-0 list-inline mb-0">
                <li class="list-inline-item mb-0">
                    <a href="@Url.Action("DS_ThietBi","Kiemke")">Danh sách thiết bị</a>
                </li>
                <li class="list-inline-item mb-0" style="border-bottom:3px solid green;background-color:white"><a href="@Url.Action("KiemKe","Kiemke")">Kiểm kê</a></li>
                @*<li class="list-inline-item mb-0"><a href="@Url.Action("ThanhLy","Kiemke")">Thanh lý</a></li>*@

            </ul>
        </div>
    </div>
    <div class="row m-3 text-center">
        <h4 class="text-primary">DANH SÁCH PHIẾU GHI NHẬN HƯ HỎNG</h4>
        <div class="container">
            <a href="@Url.Action("Add_PhieuHH","Kiemke")">
                <button type="submit" class="btn btn-primary ml-2 form-check-inline" style="float:right">Thêm mới</button>
            </a>
               
            

        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã phiếu</th>
                    <th>Ngày lập</th>
                    <th>Mã Nhân viên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p name="ID">     @item.ID_PHIEUGNHH</p>
                       
                        </td>
                        <td>
                           
                            @item.NGAYLAP
                        </td>
                        <td>
                            @item.MANV
                        </td>
                        <td class="iconcrud">
                        <a href="@Url.Action("CT_DSHuHong","Kiemke",new { ID=item.ID_PHIEUGNHH})"><img src="~/Content/Image/edit.png" /></a>
                        <a href="@Url.Action("Delete_PhieuHH","Kiemke",new { ID=item.ID_PHIEUGNHH})"><img src="~/Content/Image/trash.png" /></a>
                        <a href="@Url.Action("ThanhLyTB","Kiemke",new {ID=item.ID_PHIEUGNHH })"><img src="~/Content/Image/money-management.png" /></a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount



<div class="pagination">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        var pageLink = new { page = i };
        <a href="@Url.Action("KiemKe", pageLink)" class="page-link @(i == Model.PageNumber ? "active" : "")">
            @i
        </a>
    }
</div>
